@font-face {
    font-family: 'Urban Heroes';
    src: url('/fonts/urban-heroes.ttf')  format('truetype')
}
@font-face {
    font-family: 'Night Hunter';
    src: url('/fonts/night-hunter.ttf')  format('truetype')
}