.option {
    height: 8rem;
    border-top: 1px solid #b40c0c;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #8b0808;
    font-size: 3em;
    font-family: 'Night Hunter';
}