.searchbox {
    display: block;
    width: 45%;
    height: 1.6em;
    font-size: 1em;
    margin: auto;
    text-align: center;
    color: #666666;
    background: black url('/images/search.png') no-repeat 0 50%;
    border: 1px solid #b40c0c;
    &:focus {
        outline: none;
    }
}