.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0;
    top: 5rem;
    background: black;
    border-left: 1px solid #b40c0c;
    border-bottom: 1px solid #b40c0c;
    height: 40rem;
    width: 30%;
    @import './option';
}