.widget {
    width: 45%;
    height: 1.75em;
    font-size: 1em;
    display: block;
    margin: auto;
    background: black;
    color: #666666;
    border: 1px solid #b40c0c;
    &:focus {
        outline: 1px solid red;
    }
}